body {
  background-color: #ffdada;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container {

}

.foto {
  background-image: url(foto-prueba.jpg);
  width: 20vw;
  height: 20vw;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.product {
  display: flex;
  margin: 0;
  padding: 0;
}

.tags {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
