::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: ShantellSans;
  src:
    local("ShantellSans"),
    url("ShantellSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IndieFlower;
  src:
    local("IndieFlower"),
    url("IndieFlower-Regular.ttf") format("truetype");
}

/* Menú */
header {
  height: 5vh;
  background: linear-gradient(to right, #cb87dab0, #84d7d1a7);
}

/* Características generales del body */
body {
  width: 100vw;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* Migas de pan */
.migasdepan {
  list-style: none;
}

ul.migasdepan {
  padding: 0.4vw 2vw;
  list-style: none;
  background-color: #ffffff;
}

ul.migasdepan li {
  display: inline;
  font-size: 1.1dvw;
}

ul.migasdepan li + li::before {
  padding: 0.8vw;
  color: #813B90;
  content: "/";
}

ul.migasdepan li a {
  color: #813B90;
  text-decoration: none;
}

ul.migasdepan li a:hover {
  color: #CB87DA;
  text-decoration: underline;
}

.lastline {
  color: #CB87DA;
}

/* Container descripción de productos+sección de envios y carrito */
.container {
  display: flex;
  align-items: left;
  /*margin: 0 0 10em 10em;*/
  padding: 0;
  flex-direction: column;
  width: 100vw;
  gap: 3vw;
}

/* Contenedor con foto+nombre+etiquetas */
.top-container {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8vw;
}

/* Hijo de top-container, con foto, título y etiquetas */
.product {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  /* background-color: #f2b1ab; */
  width: 60vw;
  font-family: "Shantell Sans", cursive;
  gap: 2vw;
}

/* Espacio para  colocar la foto */
.photo {
  /*background-image: url("candy1.jpg");*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 30vh;
  margin-left: 3vw;
  margin-top: 1vw;
  /* background-size: cover; */
}

/* Características y modificación de la foto */
#photodetails {
  border-radius: 20px;
  width: 200vw;
  margin: 0;
  box-shadow: 2px 2px 10px rgb(206 201 201);
  border: 0.5vw solid #3AA59D;
  overflow: hidden;
  transition: transform .2s;
}

#photodetails:hover {
  transform: scale(1.2);
}

/* Título producto */
h1 {
  padding: 0;
  font-size: 2dvw;
  color: #813B90;
  font-family: IndieFlower;

}

/* Nombre + precio + etiquetas del producto */
.product-card {
  padding: 0;
  margin: 0;
}

/*Precio y unidades*/
.oneliner {
  font-size: 1.3dvw;
  color: #9C67A8;
}

/*Etiquetas alérgenos*/
.tags {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 0;
  padding: 0;
  column-gap: 10%;
  row-gap: 20%;
  font-size: 1dvw;
  color: #813B90;
}

.tags > span {
  background-color: #c0f2efb2;
  text-align: center;
  border-radius: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  box-shadow: 1px 1px 3px rgb(177 176 176);
}


/*Sección envíos y carrito*/
/*
.cart {
  background-color: #F5C6FF;
  width: 15vw;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translate(0, 2.5em);
  border-radius: 10%;
  gap: 2vw;
  border-style: solid;
  border-color: #813B90;
  border-width: thin;
  font-family: "Shantell Sans", cursive;
}

.cart-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3vw;
}

.envios {
  font-size: 1.3dvw;
  margin: 0;
  padding: 0;
  color: #813B90
}

.precio {
  font-size:1.3dvw;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #813B90
}

.ir {
  font-size: 1.2dvw;
  margin: 0;
  padding: 0.6vw;
  border-radius: 11%;
  background-color: #3AA59D;
  align-self: center;
  color: #ffffff;
  text-decoration: none;
}

.ir:hover {
  background-color: #C0F2EF;
  color: #3AA59D;
}
*/

/*Sección descripción larga producto*/
.info {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

/*Descripción*/
.text {
  margin-top: 0;
  padding: 0;
  width: 55%;
  text-align: justify;
  font-size: 1.3dvw;
  color: #813B90;
  margin-left: 50px;
  font-family: "Shantell Sans", cursive;
}

/*Sección de ingredientes*/
.ingredients {
  display: flex;
  flex-direction: row;
  color: #9C67A8;
  font-size: 1dvw;
  line-height: 3.5vw;
  background-color: #c0f2efa3;
  padding: 1vw;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  border-radius: 20px;
  font-family: ShantellSans;
  box-shadow: 0.5px 0.5px 5px grey;
  gap: 3vw;
}


h4 {
  font-size: 1.3dvw;
  padding: 1vw;
  color: #3AA59D;
  font-family: "Indie Flower", cursive;
}

/*Lista ingredientes*/
.info > ul {
  list-style: none;
  text-align: left;
  margin: 0;
  color: #a73752;
}

/* Footer-Logo y Redes */
footer {
  background: linear-gradient(to right, #cb87dab0, #84d7d1a7);
  width: 100vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer-Logo */
.logo-name {
  width: 65vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-name img {
  width: 10vw;
  height: 3vw;
}

/* Footer-Redes sociales */
.social-networks {
  width: 50vw;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
}

.social-networks img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
}
