<<<<<<< HEAD
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: ShantellSans;
  src:
    local("ShantellSans"),
    url("ShantellSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IndieFlower;
  src:
    local("IndieFlower"),
    url("IndieFlower-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #fff;
  font-family: ShantellSans;
}

header {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
}

.header {
  width: 100vw;
  height: 6vw;
  display: flex;
  align-items: center;
  margin-inline: 2vw;
}

/* Menu */
.desplegable {
  background-color: #f23d4c;
  color: #fff;
  border: none;
  font-size: 1.8vw;
}

.btn-secondary {
  background-color: #f23d4c;
  color: #fefefe;
  border: none;
  font-size: 1.8vw;
  margin: 0 2vw;
}

.dropdown-menu {
  background-color: #f23d4c;
  border-color: #fff;
  text-decoration: none;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown-item {
  text-decoration: none;
  color: #fff;
}

/* Info web */
.info a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8vw;
}

/* Carrito compra */
.carrito {
  width: 70vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.carrito img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
}

/* Logo y frase */
.logo-text {
  width: 100vw;
  height: 20vw;
  background-image: url("assets/productos/chuches.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 12vw;
  height: 12.5vw;
}

.text {
  width: 100vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  color: #f23d4c;
  font-size: 2dvw;
  text-align: center;
}

/* Carrousel de fotos
.carroussel {
  width: 100vw;
  height: 20vw;
  background-image: url("assets/productos/chuches.jpg");
  background-size: cover;
} */

/* Dulces por país */
.candy-cartel {
  background-color: transparent;
  width: 100vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candytext {
  background-color: #bf0f1e;
  width: 20vw;
  height: 1vw;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  z-index: -1;
}

.text2 {
  background-color: #f2798f;
  width: 15vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}

.text2 p {
  color: #fff;
  font-size: 1.2dvw;
  text-align: center;
  margin-top: 0.5vw;
}

/* Imágenes de los países */
.international-candy {
  width: 100vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pais {
  width: 20vw;
  height: 12vw;
  margin-inline: 2vw;
  border: 2px solid #f2798f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.japon {
  width: 19.8vw;
  height: 10vw;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.eeuu {
  width: 19.8vw;
  height: 10vw;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.mexico {
  width: 19.8vw;
  height: 10vw;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

/* Top ventas-Cartel con koala */
.bloc-decoration {
  width: 100vw;
  height: 8.9vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.logo-ventas {
  width: 10vw;
  height: 9vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.ventas-cartel {
  width: 100vw;
  height: 3.6vw;
  background-color: #bf0f1e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.topventas {
  width: 25vw;
  height: 3.5vw;
  background-color: #f2798f;
  border-radius: 10px;
  transform: translateY(20%);
  display: flex;
  justify-content: center;
}

.topventas p {
  color: #fff;
  font-size: 2dvw;
  text-align: center;
}

/* Top ventas-Tarjetas de productos */
.productos {
  width: 100vw;
  height: 20vw;
  margin: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tarjeta {
  background-color: #f2798f;
  width: 12vw;
  height: 20vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.foto img {
  width: 100%;
  height: 10vw;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}

.product {
  font-size: 1.2dvw;
  display: flex;
  justify-content: center;
}

.product a {
  color: #73020c;
  text-decoration: none;
  margin-top: 1vw;
}

.precio {
  width: 100%;
  height: auto;
  font-size: 1.1dvw;
  color: #73020c;
  margin: 1vw;
}

/* Footer-Logo y Redes */
footer {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
  display: flex;
}

/* Footer-Logo */
.logo-name {
  width: 65vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-name img {
  width: 10vw;
  height: 3vw;
}

/* Footer-Redes sociales */
.social-networks {
  width: 50vw;
  height: 6vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-networks img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
}
=======
>>>>>>> Celia_Miriam
