body {
  margin: 0;
  background-color: #fff6fa;
}

header {
  background-color: #ffdada;
  width: auto;
  height: 100px;
}

/* footer {
  background-color: #ffdada;
  width: auto;
  height: 100px;
} */

