::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: ShantellSans;
  src:
    local("ShantellSans"),
    url("ShantellSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IndieFlower;
  src:
    local("IndieFlower"),
    url("IndieFlower-Regular.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  background-color: #fff6fa;
  font-family: ShantellSans;
}

header {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
}

.header {
  width: 100vw;
  height: 6vw;
  display: flex;
  align-items: center;
  margin-inline: 2vw;
}

/* Menu */
.desplegable {
  background-color: #f23d4c;
  color: #fff;
  border: none;
  font-size: 1.8vw;
}

.btn-secondary {
  background-color: #f23d4c;
  color: #fff;
  border: none;
  font-size: 1.8vw;
  margin: 0 2vw;
}

.dropdown-menu {
  background-color: #f23d4c;
  border-color: #fff;
  text-decoration: none;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown-item {
  text-decoration: none;
  color: #fff;
}

/* Info web */
.info a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8dvw;
}

/* Carrito compra */
.carrito {
  width: 70vw;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
}

.carrito img {
  width: 2vw;
  height: 2vw;
  margin: 0.5vw;
}

/* Información de la web */
.container {
  width: 100vw;
  height: 90vh;
  font-family: IndieFlower;
  font-size: 1.2dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.candy-cartel {
  background-color: transparent;
  width: 100vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candytext {
  background-color: #bf0f1e;
  width: 22vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  z-index: -1;
}

.text2 {
  background-color: #f2798f;
  width: 15vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}

.text2 p {
  color: #fff;
  font-size: 2dvw;
  text-align: center;
  margin-top: 0.5vw;
}

.text {
  width: 50vw;
  text-align: justify;
  justify-content: center;
}

/* Equipo Corporativo - linkedin */
.team {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.team img {
  width: 18vw;
  height: 18vw;
}

/* Footer-Logo y Redes */
footer {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer-Logo */
.logo-name {
  width: 65vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-name img {
  width: 10vw;
  height: 3vw;
}

/* Footer-Redes sociales */
.social-networks {
  width: 50vw;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
}

.social-networks img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
}
