::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: ShantellSans;
  src:
    local("ShantellSans"),
    url("ShantellSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: IndieFlower;
  src:
    local("IndieFlower"),
    url("IndieFlower-Regular.ttf") format("truetype");
}


header {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
  font-family: ShantellSans;
}

.header {
  width: 100vw;
  height: 6vw;
  display: flex;
  align-items: center;
  margin-inline: 2vw;
}

/* Menu */
.desplegable {
  background-color: #f23d4c;
  color: #fff;
  border: none;
  font-size: 1.8vw;
  margin: 0;
}

.btn-secondary {
  background-color: #f23d4c;
  color: #fefefe;
  border: none;
  font-size: 1.8vw;
  margin: 0 2vw;
}

.dropdown-menu {
  background-color: #f23d4c;
  border-color: #fff;
  text-decoration: none;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown-item {
  text-decoration: none;
  color: #fff;
}

/* Info web */
.info a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8vw;
}


/* Migas de pan */
.migasdepan {
  list-style: none;
  font-family: ShantellSans;
}

ul.migasdepan {
  padding: 0.4vw 2vw;
  list-style: none;
  background-color: #ffffff;
}

ul.migasdepan li {
  display: inline;
  font-size: 1.1vw;
}

ul.migasdepan li + li::before {
  padding: 0.8vw;
  color: #73020C;
  content: "/";
}

ul.migasdepan li a {
  color: #73020C;
  text-decoration: none;
}

ul.migasdepan li a:hover {
  color: #F2798F;
  text-decoration: underline;
}

.lastline {
  color: #F23D4C;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #ffffff;
  gap: 17vw;
}


.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(180deg, #F2798F 60%, #F23D4C);
  margin: 0;
  padding: 0;
}

.logo img {
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
}

.flags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

#japanflag2 {
  margin-right: 12vw;
}

.branch {
  display: flex;
  align-items: flex-end;
  clip-path: polygon(48% 0, 68% 50%, 51% 100%, 0% 100%, 25% 50%, 0% 0%);
  filter: opacity(90%);
}

h1 {
  color: #fff;
  font-size: 3vw;
  text-shadow: 4px 4px 10px #a73752;
  font-family: IndieFlower;
  letter-spacing: 4px;
}

.container {
  background-color: #bf0f1ecb;
  width: 70vw;
  height: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
  row-gap: 5vh;
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin: 0;
}

.p {
  text-align: center;
  background-color: #F2798F;
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7%;
  box-shadow: 1px 1px 8px #494545;
  transition: transform 0.2s;
  white-space: nowrap;
}

.p:hover {
  transform: scale(1.2);
}

.image1 {
  background-image: url("./assets/candy1.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image2 {
  background-image: url("./assets/candy4.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image3 {
  background-image: url("./assets/chewchew.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image4 {
  background-image: url("./assets/candy3.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image5 {
  background-image: url("./assets/kitkat.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image6 {
  background-image: url("./assets/choc3.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image7 {
  background-image: url("./assets/candy2.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image8 {
  background-image: url("./assets/pez.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.image9 {
  background-image: url("./assets/choc.jpg");
  background-size: cover;
  height: 14em;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.prices {
  display: flex;
  flex-direction: row;
  font-family: ShantellSans;
  font-size: 2em;
  text-align: left;
  justify-content: space-between;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  line-height: 1px;
  font-family: ShantellSans;
  font-size: 0.8vw;
}

h3 {
  color: #73020C;

}

.link {
  text-decoration: none;
  color: #73020C;
}

/* Footer-Logo y Redes */
footer {
  background-color: #f23d4c;
  width: 100vw;
  height: 6vw;
  display: flex;
}

/* Footer-Logo */
.logo-name {
  width: 65vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-name img {
  width: 10vw;
  height: 2vw;
}

/* Footer-Redes sociales */
.social-networks {
  width: 50vw;
  height: 6vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-networks img {
  width: 2vw;
  height: 2vw;
  margin: 1vw;
}
