.title {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(#FB8D98 97%,#A73752 3%);
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFFFFF;
}

body{
    background-color:#FFF6FA;
    margin: 0 auto;
    padding: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    height: 2vw;
}

footer {
  height: 2vw;
}
.container {
  background-color: #FFDADA;
  display: grid;
  grid-template-columns: repeat(3,20vw);
  grid-template-rows: repeat(3,20vh);
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}

.p{
 text-align: center;
}